#footer {
  & > div {
    display: flex;
    justify-content: space-between;
    padding-block: 1.5rem;
    flex-grow: auto;

    & ul {
      display: flex;
      align-items: center;
      gap: 1.25rem;
    }

    @media (width <= 48em) {
      flex-direction: column;
      padding-block: 1rem;
      text-align: center;
      gap: 1rem;
      & ul {
        justify-content: center;
      }
    }
  }
}
