.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 imagens por linha por padrão */
  gap: 20px; /* Espaço entre as imagens */
}

.gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
