header {
  padding: 1.5rem 0;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
  }

  nav ul {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding: 0.5rem 0;
  }

  nav ul li:last-child img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }

  .logo {
    z-index: 9;
  }

  /* 48 EM = 768PX / 16 */
  @media (width <= 48em) {
    header {
      padding: 1.25rem 0;
    }
    .line {
      width: 30px;
      height: 3px;
      background: var(--brand-color);
      margin: 5px;
    }
    .hamburger {
      z-index: 2;
    }
    .nav-links {
      display: none;
    }
    .nav-links.open {
      display: flex;
      justify-content: center;
      gap: 5rem;
      flex-direction: column;
      width: 100%;
      height: 100%;
      background-color: var(--surface-color);
      position: fixed;
      bottom: 0;
      left: 0;
    }
    .nav-links.open li {
      text-transform: uppercase;
      font-size: 2rem;
    }
    .nav-links.open li:first-child {
      display: none;
    }
    .nav-links.open li:last-child {
      display: none;
    }
  }
}
