@import url(./global.css);
@import url(./nav.css);
@import url(./about.css);
@import url(./gallery.css);
@import url(./footer.css);

/* Media Queries */
@media (max-width: 1280px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr); /* 3 imagens por linha */
  }
}

@media (max-width: 1024px) {
  .about-info p {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: var(--brand-color);
    margin: 5px;
  }

  .hamburger {
    z-index: 2;
  }

  .nav-links {
    display: none;
  }

  .nav-links.open {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--surface-color);
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .nav-links.open li {
    text-transform: uppercase;
    font-size: 2rem;
  }

  .nav-links.open li:last-child {
    display: none;
  }

  .about {
    flex-direction: column;
  }

  .about .about-info h1 {
    text-align: center;
  }

  .about-info p {
    max-width: 400px;
    text-align: justify;
  }

  .about .profile-info {
    flex-direction: column;
  }
  .two-info {
    margin-block: 2rem;
    flex-direction: row;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr); /* 2 imagens por linha */
  }
}

@media (max-width: 474px) {
  .gallery {
    grid-template-columns: 1fr; /* 1 imagem por linha */
  }
}
